h1 {
    background-color: red;
    color:white;
}

h4 {
    margin-top: 20px;
    text-decoration: underline;
}

p {
    color: purple;
}

button {
    color: white;
    background-color: teal;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

button:hover {
    background-color: darkcyan;
}